<div class="container">
	<form>
		<div class="form-group">
			<label for="post-title-input">Title</label>
			<input
				type="email"
				class="form-control"
				id="post-title-input"
				placeholder="A cool title..."
			/>
		</div>
		<div id="form-group mb-3">
			<label for="post-body-input">Body</label>
			<textarea
				class="form-control"
				id="post-body-input"
				rows="3"
				placeholder="A fun body..."
			></textarea>
		</div>
		<button type="button" class="btn btn-primary create-post-button">
			Post it!
		</button>
	</form>
	<script src="/js/newpost.js"></script>
</div>